@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background: #3c6081 !important;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper 
{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  min-height: calc(100vh - 56px);
}

.auth-inner, .Bookmark {
  width: 90%;
  height: 100%;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 10px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.Bookmark {
  height: unset;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.Sidebar {
  position: absolute;
  margin-top: 56px;
  height: calc(100vh - 56px);
}

input[name=url], input[name=word]
{
  width: 60.7em !important;
  margin: 4px;
  display: inline;
}
input[name=word] {
  width: calc(100% - 76px - 5px) !important;
  margin-left: 0;
}

.btn {
  vertical-align: unset !important;  
}

#player {
  display: block;
  margin: 1em auto;
} 

input[type=number]
{
  width: 100px;
  margin: 4px;
  display: inline;  
}

input[name=caption] {
  border: unset;
  background-color: transparent;
  color: blue;
  padding: 1px;
  text-align: center;
  font-size: 16px;
}

fieldset {
  border: 1px lightgray solid !important;
  border-radius: 4px;
  padding: 0 4px !important;
}

legend {
  font-size: 1.2em !important;  
  float: unset !important;
  width: unset !important;
  font-weight: bold;
}

.timeEntry {
  text-align: center;
}

input[value^="boost"] {
  color: red;
}